@model ReservationIndexViewModel

@{

    ViewData["Title"] = "Index";
}

<h2>Customer Reservations</h2>
<div class="reservationTable pl-5 pr-5 pt-3 pb-3 mt-4">
    @foreach (var group in Model.ReservationsByDate)
    {
        <h4 class="mt-4 text-light">@group.Key.ToString("D")</h4>
        <table class="table table-striped table-hover text-light">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Book For</th>
                    <th>Guests</th>
                    <th>Table</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in group.Value)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => reservation.GuestName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => reservation.StartDateTime.TimeOfDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => reservation.EndDateTime.TimeOfDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => reservation.SittingType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => reservation.NumberOfGuest)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => reservation.TableType)
                    </td>
                    <td>
                        <a class="text-light" asp-action="Edit" asp-route-id="@reservation.Id">Edit</a> |
                        <a class="text-light" asp-action="Details" asp-route-id="@reservation.Id">Details</a> |
                        <a class="text-light" asp-action="Delete" asp-route-id="@reservation.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>